// .form{
//   display: flex;
//   flex-direction: column;
//   flex: 1;
// 
//   fieldset{
//     border: none;
//     padding: 0;
//     margin: 0;
//   }
// 
//   &__group{
//     display: flex;
//     flex-direction: column;
//     margin-bottom: var(--space-xs);
//   }
// 
//   &__label{
//     font-size: 1.2rem;
//     font-weight: 500;
//     color: var(--color-text);
//     margin-bottom: var(--space-xxs);
//   }
// 
//   &__input{
//     padding: 0.5rem .75rem;
//     font: 300 1.2rem var(--font-primary);
//     color: var(--color-text);
//     line-height: 1.6;
//     outline: none;
//     transition: all 0.3s ease-in-out;
//     background-color: var(--color-base-light);
//     border: 1.5px solid var(--color-grey-light);
//     border-radius: var(--border-radius);
//     width: 100%;
//   
//     &:focus {
//       border: 1.5px solid var(--color-grey);
//     }
// 
//     &::placeholder{
//       font-style: italic;
//       color: var(--color-grey);
//     }
// 
//     &:not(:last-of-type){
//       margin-bottom: var(--space-xxs);
//     }
//   }
// 
//   
// 
//   &__input__group{
//     display: flex;
//     flex-direction: column;
//     margin-bottom: var(--space-xs);
//     overflow-y: auto;
//     padding: 0 var(--space-xxs);
//       
//   }
// 
//   textarea{
//     height: 8rem;
//     max-height: 8rem;
//     resize: none;
//   }
// }

.subtasks__container {
  height: 15rem;
}

.subtask__input {
  display: flex;
  align-items: center;
  gap: .25rem;

  &:not(:last-of-type) {
    margin-bottom: var(--space-xxs);
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.btn__pagination {
  height: 3rem;
  width: 3rem;
  padding: .5rem;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--color-grey);
  color: var(--color-grey);
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.btn__active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}



