.statusBar{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: var(--space-xs);
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  box-shadow: none;
  z-index: 1;

  button{
    justify-self: end;
  }
}

.shadowBottom{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 15px -15px;
}

.statusColorBox{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: .5rem;
}