.modal{
  width: 37rem;
  height: 50rem;
  padding: var(--space-md) var(--space-sm);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--color-base-light);
  z-index: 800;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}

.modalCloseBtn{
  position: absolute;
  top: -1.25rem;
  right: -1.25rem;
  height: 3rem;
  width: 3rem;
  background-color: var(--color-primary-light);
  font-size: 1.6rem;
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  transition: background .2s ease-in-out;

  &:hover{
    background-color: var(--color-primary);
  }
}