// .form {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//
//   &__group {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: var(--space-xs);
//   }
//
//   &__label {
//     font-size: 1.2rem;
//     font-weight: 500;
//     color: var(--color-text);
//     margin-bottom: var(--space-xxs);
//   }
//
//   &__input {
//     padding: 0.5rem .75rem;
//     font: 300 1.2rem var(--font-primary);
//     color: var(--color-text);
//     line-height: 1.6;
//     outline: none;
//     transition: all 0.3s ease-in-out;
//     background-color: var(--color-base-light);
//     border: 1.5px solid var(--color-grey-light);
//     border-radius: var(--border-radius);
//     width: 100%;
//
//     &:focus {
//       border: 1.5px solid var(--color-grey);
//     }
//
//     &::placeholder {
//       font-style: italic;
//       color: var(--color-grey);
//     }
//
//     &:not(:last-of-type) {
//       margin-bottom: var(--space-xxs);
//     }
//   }
//
// }

.form {
  display: flex;
  flex-direction: column;
  flex: 1;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-xs);
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: var(--space-xxs);
  }

  &__input {
    display: flex;
    row-gap: 1rem;
    padding: 0.5rem 0.75rem;
    font: 300 1.2rem var(--font-primary);
    color: var(--color-text);
    line-height: 1.6;
    outline: none;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-base-light);
    border: 1.5px solid var(--color-grey-light);
    border-radius: var(--border-radius);
    width: 100%;

    &:focus {
      border: 1.5px solid var(--color-grey);
    }

    &::placeholder {
      font-style: italic;
      color: var(--color-grey);
    }

    &:not(:last-of-type) {
      margin-bottom: var(--space-xxs);
    }
  }

  &__input__group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-xs);
    overflow-y: auto;
  }

  textarea {
    height: 8rem;
    max-height: 8rem;
    resize: none;
  }
}

.subtask__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-bottom: var(--space-xxs);
}

.subtask__input {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  &:not(:last-of-type) {
    margin-bottom: var(--space-xxs);
  }
}
