.menu {
  position: absolute;
  top: 95%;
  right: 0;

  min-width: min-content;
  backdrop-filter: blur(10px) saturate(190%) contrast(70%) brightness(80%);
  background-color: var(--color-bg-menu);
  border: 1px solid rgba(82, 82, 111, 0.44);
  box-shadow: rgba(0, 0, 0, .2) 0px 4px 24px;
  border-radius: 8px;

  z-index: 600;

  padding: var(--space-xxs);
  
  &List{
    font-size: 1.4rem;

    li{

      &:not(:last-of-type){

        margin-bottom: var(--space-xxs);
      }
    }

    button{
      display: flex;
      align-items: center;
    }

    svg{
      margin-right: .5rem;
    }
  }
}