.taskBox{
  background-color: var(--color-base-light);
  width: 100%;
  border-radius: var(--border-radius-sm);
  padding: var(--space-sm) var(--space-xs);
  box-shadow: var(--shadow-light);

  &:not(:last-of-type){
    margin-bottom: var(--space-xs);
  }

  &:hover{
    cursor: pointer;
    background-color: var(--color-base-darker);
  }
}

.taskDragging {
  box-shadow: var(--shadow-light);
}