.taskBox {
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-light);
  width: 100%;
  border-radius: var(--border-radius-sm);
  padding: var(--space-xs) var(--space-xs);
  box-shadow: var(--shadow-light);

  &:not(:last-of-type) {
    margin-bottom: var(--space-xs);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-base-darker);
  }
}

.priority {
  z-index: 100;
  &:hover {
    // fill svg color
    color: var(--color-primary);
  }
}

.taskDragging {
  box-shadow: var(--shadow-light);
}
