.sidebar{
  // layout
  grid-row: 1/3;
  grid-column: 1/2;

  // display layout
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  // background color
  background-color: var(--color-base-light);

  padding: var(--space-sm);

  border-right: .5px solid var(--color-grey-light);
}

.logo{
  display: flex;
  align-items: center;

  img{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}

.brandLight{
  color: var(--color-white);
}

.brandDark{
  color: var(--color-black);
}

// toggle theme button
.toggleBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background-color: var(--color-base-dark);
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  width: 80%;
  
  span{
    font-size: 1.6rem;
    margin-right: .5rem;
    color: var(--color-text);
  }
}

