.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}

.inputContainer{
  margin-bottom: var(--space-xs);
  overflow-y: scroll;
  height: 30%;
  padding: 0 var(--space-xxs);
}
